{% extends 'loxpack/base.html' %}
{% load static %}

{% block title %} About {% endblock %}

{% block content %}

{% include 'loxpack/hero.html' %}

		
	<section class="ftco-section ftco-no-pt ftc-no-pb">
		<div class="container">
			<div class="row">
				<div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
					<div class="text px-4 ftco-animate">
			<h2 class="mb-4">COMPANY PROFILE</h2>
						<p>We have built a reputation founded in commitment to service, Quality asset management and unparalleled responsiveness to clients needs. Loxpack investments has proved track record of increased profit margin, reduced operating expenses and overall property value gains allowing our clients to maximize their daily involvement and maximize their income, and tax benefit of owning investment real estate.</p>
						<p>We do take special pride and ownership on being the innovative source for clients that require special attention for their unique property needs.</p>
						<p><a href="#" class="btn btn-secondary px-4 py-3">Welcome</a></p>
					</div>
				</div>
				<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
		<h2 class="mb-4">COMPANY PHILOSOPHY</h2>
          <p>Our team embodies the long held philosophy that: The key to success is; hardwork, integrity, creativity, discipline and communication. Our staff of professionals strive to deliver superior and reliable investors returns through:- •	Strict control of operating expenses •	Adherance to sound management system principles •	Strategic forward planning •	Open communication with clients</p>
          <h2 class="mb-4">PROFESSIONAL ACCOMPLISHMENTS</h2>
					<p>•	Highly experienced in buying and selling properties •	Good knowledge of real estate laws and procedures •	Wide knowledge of people management procedures •	Familiarity with marketing techniques •	Ability to convince customers to buy the properties •	Ability to develop good relationship with prospective customers.</p>      
					<div class="row mt-5">
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
								<div class="text">
									<h3>CUSTOM SOLUTIONS</h3>
									<p> • Increase the value of investments • Higher quality tenants (Through screening)  •	Assistance  with Tax returns </p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
								<div class="text">
									<h3>RENTAL SOLUTIONS</h3>
									<p>• Pay on time •	Shorter vacancy cycles •	Tighter rent collection process</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
								<div class="text">
									<h3>PROPERTY MANAGEMENT SERVICES</h3>
									<p>•	Prepare documents, such as loyalty contracts , purchase agreements. •	Interview clients to obtain their house requirements and budget. •	Present properties to clients with fair market price.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
								<div class="text">
									<h3>WHY CHOOSE LOXPACK INVESTMENTS?</h3>
									<p>
                    •	Competitive rates
                    •	Strict rental policies
                    •	Proven track record
                    •	Thorough expenses reviews
                    •	Consistent owner communication
                    •	Customized plan action
                    •	Satisfied clients Loxpack wide
                    •	Reference gladly provided
                  </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Testimonial</span>
            <h2 class="mb-4"><span>What Our Clients</span> Say About Us</h2>
            <p>We strive to build a working business relationship with our Clients.</p>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" id="testi-img1">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>With Loxpack Investment managing my properties i dont have to worry about management and concentrate on other issues</p>
                    <p class="name">Linet Nyaboke</p>
                    <span class="position">Landlady</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" id="testi-img2">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>I was Reffered by a colleague and ever since Loxpack investments took over management of my property the value of my investment has increased in the first year</p>
                    <p class="name">Henry Okumu</p>
                    <span class="position">Property Owner</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" id="testi-img3">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Always communicative and informative. Trust them to manage your investments.</p>
                    <p class="name">Faith Chepkoech</p>
                    <span class="position">Landlady</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}