{% extends 'loxpack/base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}

	<!-- hero slider -->
    <section class="home-slider owl-carousel">
		<div class="slider-item" id="slider-bg1">
			<div class="overlay"></div>
		  <div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
			<div class="col-md-8 text-center ftco-animate">
			  <h1 class="mb-4">Fully Furnished <span>Apartments</span></h1>
			  <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">For Sale</a></p>
			</div>
		  </div>
		  </div>
		</div>
  
		<div class="slider-item" id="slider-bg2">
			<div class="overlay"></div>
		  <div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
			<div class="col-md-8 text-center ftco-animate">
			  <h1 class="mb-4">Fully Furnished<span> Apartments</span></h1>
			  <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">For Rent</a></p>
			</div>
		  </div>
		  </div>
		</div>
	  </section>
	  <!-- END hero slider-->

	<section class="ftco-services ftco-no-pb">
		<div class="container-wrap">
			<div class="row no-gutters">
	<div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-primary">
		<div class="media block-6 d-block text-center">
		<div class="icon d-flex justify-content-center align-items-center">
			<span class="fa-stack fa-4x">
				<i class="fas fa-circle fa-stack-2x text-primary"></i>
				<i class="fa fa-building fa-stack-1x fa-inverse"></i>
			</span>
		</div>
		<div class="media-body p-2 mt-3">
			<h3 class="heading">Property Managements</h3>
			<p>We manage property including rent collection.</p>
		</div>
		</div>      
	</div>
	<div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary">
		<div class="media block-6 d-block text-center">
		<div class="icon d-flex justify-content-center align-items-center">
			<span class="fa-stack fa-4x">
				<i class="fas fa-circle fa-stack-2x text-primary"></i>
				<i class="fa fa-university fa-stack-1x fa-inverse"></i>
			</span>
		</div>
		<div class="media-body p-2 mt-3">
			<h3 class="heading">Financial services</h3>
			<p>We provide extensive financial services like auditing and filing returns.</p>
		</div>
		</div>    
	</div>
	<div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth">
		<div class="media block-6 d-block text-center">
		<div class="icon d-flex justify-content-center align-items-center">
			<span class="fa-stack fa-4x">
				<i class="fas fa-circle fa-stack-2x text-primary"></i>
				<i class="fa fa-university fa-stack-1x fa-inverse"></i>
			</span>
		</div>
		<div class="media-body p-2 mt-3">
			<h3 class="heading">Buying &amp; selling of property</h3>
			<p>We Buy and sell property on behalf of clients..</p>
		</div>
		</div>      
	</div>
	<div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-quarternary">
		<div class="media block-6 d-block text-center">
		<div class="icon d-flex justify-content-center align-items-center">
			<span class="fa-stack fa-4x">
				<i class="fas fa-circle fa-stack-2x text-primary"></i>
				<i class="fas fa-lock fa-stack-1x fa-inverse"></i>
			</span>
		</div>
		<div class="media-body p-2 mt-3">
			<h3 class="heading">General maintenance of property</h3>
			<p>This includes services like plumbing and electrical maintenance.</p>
		</div>
		</div>      
	</div>
	</div>
		</div>
	</section>

	<section class="ftco-intro" id="intro-bg" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<h2>Two Bedroom Apartments, Umoja</h2>
					<p class="mb-0">Exquisite Spacious Roomed Apartments with Shared Swimming Pool, Supermarket and a Gym house all available at the Ground Floor.Spacious parking lot and tight security. </p>
				</div>
				<div class="col-md-3 d-flex align-items-center">
					<p class="mb-0"><a href="#" class="btn btn-secondary px-4 py-3">Check Details</a></p>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
	<div class="col-md-8 text-center heading-section ftco-animate">
		<h2 class="mb-4"><span>Apartments</span> For Rent</h2>
		<p>Include Rental Apartments around Nairobi</p>
	</div>
	</div>	
			<div class="row">
				{% for apartment in rent_apartment %}
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch">
								<a href="{% url 'loxpack-property' pk=apartment.id %}">
								<img src="{{apartment.image.url}}" alt="" height="250" width="320">
								</a>
							</div> 
						</div>
						<div class="text pt-3 text-center">
							<a href="{% url 'loxpack-property' pk=apartment.id %}">
							<h3>{{apartment.name}}</h3>
							</a>
							<span class="position mb-2">{{apartment.area}}</span>
							<div class="faded">
								<p>{{apartment.description}}</p>
			</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
	<div class="col-md-8 text-center heading-section ftco-animate">
		<h2 class="mb-4"><span>Property</span> For Sale</h2>
		<p>Include property that are on sale</p>
	</div>
	</div>	
			<div class="row">
				{% for sale_prop in sale_property %}
				<div class="col-md-6 course d-lg-flex ftco-animate">
					<div class="img">
						<a href="{% url 'loxpack-property' pk=sale_prop.id %}">
						<img src="{{sale_prop.image.url}}" alt="" height="250" width="320">
						</a>
					</div>
					<div class="text bg-light p-4">
						<h3><a href="{% url 'loxpack-property' pk=sale_prop.id %}">{{sale_prop.name}}</a></h3>
						<p class="subheading"><span>Price:</span> {{sale_prop.price}} M</p>
						<p>{{sale_prop.description}}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-counter img" id="section-counter" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
	<div class="col-md-8 text-center heading-section heading-section-black ftco-animate">
		<h2 class="mb-4"><span>20 Years of</span> Experience</h2>
		<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
	</div>
	</div>	
		<div class="row d-md-flex align-items-center justify-content-center">
			<div class="col-lg-10">
				<div class="row d-md-flex align-items-center">
			<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
				<div class="block-18">
					<div class="icon"><span class="flaticon-doctor"></span></div>
				<div class="text">
					<strong class="number" data-number="18">0</strong>
					<span>Certified Realtors</span>
				</div>
				</div>
			</div>
			<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
				<div class="block-18">
					<div class="icon"><span class="flaticon-doctor"></span></div>
				<div class="text">
					<strong class="number" data-number="351">0</strong>
					<span>Clients Served</span>
				</div>
				</div>
			</div>
			<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
				<div class="block-18">
					<div class="icon"><span class="flaticon-doctor"></span></div>
				<div class="text">
					<strong class="number" data-number="564">0</strong>
					<span>Happy customers</span>
				</div>
				</div>
			</div>
			<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
				<div class="block-18">
					<div class="icon"><span class="flaticon-doctor"></span></div>
				<div class="text">
					<strong class="number" data-number="300">0</strong>
					<span>Awards Won</span>
				</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</section>

	<section class="ftco-gallery">
	<div class="container-wrap">
		<div class="row no-gutters">
				<div class="col-md-3 ftco-animate">
					<a href="{% static 'loxpack/images/nice.jpg' %}" class="gallery image-popup img d-flex align-items-center" id="intro-bg">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
					</a>
				</div>
				<div class="col-md-3 ftco-animate">
					<a href="{% static 'loxpack/images/balcony.jpg' %}" class="gallery image-popup img d-flex align-items-center" id="slider-bg2">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
					</a>
				</div>
				<div class="col-md-3 ftco-animate">
					<a href="{% static 'loxpack/images/balconies.jpg' %}" class="gallery image-popup img d-flex align-items-center" id="slider-bg1">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
					</a>
				</div>
				<div class="col-md-3 ftco-animate">
					<a href="{% static 'loxpack/images/estate.jpg' %}" class="gallery image-popup img d-flex align-items-center" id="intro-bg">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
					</a>
				</div>
	</div>
	</div>
	</section>

{% endblock content %}	