{% extends 'loxpack/base.html' %}
{% load static %}

{% block title %} For Rent {% endblock %}

{% block content %}

<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
    {% for property in rent_apartment %} 
      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">  
          <img src="{{property.image.url}}" class="img-fluid" alt="">
          
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ property.name}}</span>
              </a>
            </div>

            <p class="lead">
              <span>Kshs {{ property.price }}</span>
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ property.description }}</p>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
      {% endfor %}
    </div>
</main>

{% endblock content %}