{% extends 'loxpack/base.html' %}
{% load static %}

{% block title %} For Sale {% endblock %}

{% block content %}

<section class="hero-wrap hero-wrap-2" id="staff-img">
  <div class="overlay"></div>
  <div class="container">
  <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
      <h1 class="mb-2 bread">Properties For Sale</h1>
      <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'loxpack-home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>For Sale <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
  </div>
  </div>
</section>

<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
    {% for property in sale_property %} 
      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <a href="{% url 'loxpack-property' pk=property.id %}">  
            <img src="{{property.image.url}}" class="img-fluid" alt="" height=300 width=400>
          </a>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="{% url 'loxpack-property' pk=property.id %}">
                <span class="badge purple mr-1">{{ property.name}}</span>
              </a>
            </div>

            <p class="lead">
              <span>Kshs {{ property.price }}M</span>
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ property.description }}</p>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
      {% endfor %}
    </div>
</main>

{% endblock content %}