<section class="search-sec">
    <div class="container">
        <form action="{% url 'search-results' %}" method="get">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1" name="loc_contains">
                                <option>Select Location</option>
                                {% for loc in location %}
                                <option value="{{loc.name}}">{{loc.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1" name="stat_contains">
                                <option>For Rent/Sale</option>
                                {% for stat in stats %}
                                <option value="{{stat.name}}">{{stat.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                            <button type="submit" class="btn btn-danger wrn-btn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>